#header{
	font-size: 30px;
	text-align: center;
	font-family: Garamond;
	margin: 5px;

	}
#chart_div {
	width: 70%;
	height: 1000px;
/*	margin-top: 5px;*/
}

#chart_frame {
	width: 70%;
	height: 1000px;
	float: left;
/*	border: 1px solid black;
*/	margin: 10px;
}

#info {
	width: 27%;
	height: 1000px;
/*	border: 1px solid black;
*/	float: right;
	margin: 10px;

}

#timeline {
	width: 98.9%;
	height: 200px;
/*	border: 1px black solid;
*/	position: relative;
	margin: 10px;
}